/* ==RESET== */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}
/* ==END OF RESET== */

/* ----------------------------------------------- */
/* ==GENERAL AND UTILITY STYLES== */
body {
  min-height: 100vh;
  width: 100vw;
  color: #3d3d3d;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

.flex,
.flex ul {
  display: flex;
}

/* ==END OF GENERAL STYLES== */

/* ----------------------------------------------- */
/* ==HEADER== */
header {
  padding: 30px 0;

  background: #212529;
  color: whitesmoke;
}

nav {
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

/* HEADER-NAV--LOGO */

.logo-container {
  position: relative;
  margin-left: 35px;

  cursor: pointer;
}

.logo-container p {
  font-size: 25px;
  letter-spacing: 0.8px;
}

.logo-text {
  margin-bottom: 15px;
  font-family: "Alex Brush", cursive;
}

.logo-subtext {
  position: absolute;
  top: 14px;
  left: 30px;

  color: #c5e1a5;

  font-family: "DM Sans", sans-serif;
  letter-spacing: 0;
}

/* HEADER-NAV--LINKS */
.navbar-links {
  height: 100%;
}

.navbar-links ul {
  font-size: 18px;
  letter-spacing: 0.5px;

  list-style-type: none;
}

.navbar-items a {
  display: block;
  padding: 16px;

  text-decoration: none;
}

.navbar-items a,
.navbar-items a:visited {
  color: whitesmoke;
}

.navbar-items a:focus,
.navbar-items a:hover,
.navbar-items a:active {
  max-width: max-content;
  margin: 0 auto;
  border-top: 5px solid #f3d250;
  border-bottom: 5px solid #f3d250;
  /* i may use a border top and bottom only */

  border-radius: 5px;
  color: #c5e1a5;

  font-family: "Alex Brush", cursive;
  font-size: 25px;
  letter-spacing: 0.8px;
}

/* HEADER-NAV--MENU-BTN */
.menu-btn {
  position: absolute;
  top: 18px;
  right: 18px;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 70px;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.navbar-menu--btn,
.navbar-menu--btn::before,
.navbar-menu--btn::after {
  width: 40px;
  height: 4px;

  border-radius: 5px;
  background-color: #c5e1a5;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);

  transition: all 0.2s ease-in-out;
}

.navbar-menu--btn {
  display: none;
}

.navbar-menu--btn::before,
.navbar-menu--btn::after {
  content: "";
  position: absolute;
}

.navbar-menu--btn::before {
  transform: translateY(-16px);
}

.navbar-menu--btn::after {
  transform: translateY(16px);
}

/* MENU-BTN--ANIMATION */
.menu-btn.open .navbar-menu--btn {
  background: transparent;
  box-shadow: none;
  transform: translateX(-50px);
}

.menu-btn.open .navbar-menu--btn::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .navbar-menu--btn::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
/* ==END OF HEADER== */

/* ----------------------------------------------- */
/* ==MAIN STYLES== */
article {
  flex-direction: column;
  width: 90%;
  margin-inline: auto;
  margin-bottom: 30px;
}

article h2 {
  margin: 0 auto;
  padding: 10px 0;

  border-top: 11px solid #c5e1a5;
  border-bottom: 10px solid #c5e1a5;

  font-size: 25px;
  font-weight: 100;
  letter-spacing: 0.7px;
  text-align: center;
}

.margin-top {
  margin-top: 40px;
}

/* MAIN-HERO--SECTION */
.hero-section {
  position: relative;
  justify-content: center;
  margin-bottom: 40px;
  align-items: center;
}

.carousel {
  width: 100%;
  min-height: 450px;

  background-image: url("../images/kitchen.jpg");
  /* background-color: #45494d; */
  background-size: cover;
  background-position: center;
}

/* MAIN-HERO--ANIMATION */
.fade {
  -webkit-animation: 1.5s fade;
  animation: 1.5s fade;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

/* MAIN-HERO--HEADING */
.hero-section h1 {
  width: 70%;
  max-width: 900px;
  padding: 10px 0;

  border-radius: 5px;

  color: whitesmoke;
  font-size: clamp(1.855rem, 5vw, 5rem);
  /* i might make this more bold for accessibility */
  font-weight: 100;
  text-align: center;
  text-shadow: 2px 2px #212529;
}

.hero-subtext {
  display: block;

  margin: auto;
  width: min(41vw, 417px);
  padding: 5px;

  background-color: #c5e1a5;
  border-radius: 5px;

  color: #212529;
  font-family: "DM Sans", sans-serif;
  text-shadow: none;
}

.maxikleen-slogan {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  display: block;
  font-size: clamp(0rem, 5vw, 1.5rem);
  font-weight: lighter;
  font-weight: bold;
  color: #212529;
  text-shadow: -2px -2px whitesmoke;
}

/* MAIN-COMMITMENT--SECTION */

.home-section .commitment-message {
  padding: 80px 33px;
  margin-bottom: 15px;
  text-align: left;
  box-shadow: -10px 10px 10px grey;
}

.green-commitment {
  background-color: #f3d250;
}

.honest-commitment {
  background-color: #c5e1a5;
  margin-top: 5px;
}

.commitment-message h3 {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.336px;
}

.commitment-message p,
.commitment-message a {
  font-size: 13px;
}

/* ==MEDIA QUERIES== */
@media (max-width: 992px) {
  nav,
  .navbar-links ul {
    flex-direction: column;
  }

  nav {
    align-items: flex-start;
  }

  .navbar-menu--btn {
    display: block;
  }

  .navbar-links {
    display: none;

    width: 100%;
  }

  .navbar-links ul {
    margin-top: 30px;
    width: 100%;
  }

  .navbar-items {
    text-align: center;
  }

  .menu-btn {
    display: flex;
  }

  .navbar-links.active {
    display: block;
  }
}
