/* ==RESET== */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}
/* ==END OF RESET== */

/* ==GENERAL AND UTILITY STYLES== */
body {
  min-height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  color: #3d3d3d;
}

.flex,
.flex ul {
  display: flex;
}

/* ==END OF GENERAL STYLES== */

/* ==HEADER== */

header {
  padding: 30px 0;

  background: #212529;
  color: whitesmoke;
}

nav {
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

/* HEADER-NAV--LOGO */

.logo-container {
  position: relative;
  margin-left: 35px;

  cursor: pointer;
}

.logo-container p {
  font-size: 25px;
  letter-spacing: 0.8px;
}

.logo-text {
  margin-bottom: 15px;
  font-family: "Alex Brush", cursive;
}

.logo-subtext {
  position: absolute;
  top: 14px;
  left: 30px;

  color: #c5e1a5;

  font-family: "DM Sans", sans-serif;
  letter-spacing: 0;
}

/* HEADER-NAV--LINKS */
.navbar-links {
  height: 100%;
}

.navbar-links ul {
  font-size: 18px;
  letter-spacing: 0.5px;

  list-style-type: none;
}

.navbar-items a {
  display: block;
  padding: 16px;

  text-decoration: none;
}

.navbar-items a,
.navbar-items a:visited {
  color: whitesmoke;
}

.navbar-items a:focus,
.navbar-items a:hover,
.navbar-items a:active {
  width: 50%;
  margin: 0 auto;
  border: 3px solid #f3d250;
  /* i may use a border top and bottom only */

  border-radius: 5px;
  /* background-color: rgba(243, 210, 80, 0.5); */
  color: #c5e1a5;

  font-family: "Alex Brush", cursive;
  font-size: 25px;
  letter-spacing: 0.8px;
}

/* HEADER-NAV--MENU-BTN */
.menu-btn {
  position: absolute;
  top: 18px;
  right: 18px;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 70px;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.navbar-menu--btn,
.navbar-menu--btn::before,
.navbar-menu--btn::after {
  width: 40px;
  height: 4px;

  border-radius: 5px;
  background-color: whitesmoke;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);

  transition: all 0.2s ease-in-out;
}

.navbar-menu--btn {
  display: none;
}

.navbar-menu--btn::before,
.navbar-menu--btn::after {
  content: "";
  position: absolute;
}

.navbar-menu--btn::before {
  transform: translateY(-16px);
}

.navbar-menu--btn::after {
  transform: translateY(16px);
}

/* MENU-BTN--ANIMATION */
.menu-btn.open .navbar-menu--btn {
  background: transparent;

  box-shadow: none;

  transform: translateX(-50px);
}

.menu-btn.open .navbar-menu--btn::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .navbar-menu--btn::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
/* ==END OF HEADER== */

/* ==MAIN STYLES== */

/* MAIN-HERO--SECTION */
.hero-section {
  position: relative;

  justify-content: center;
  width: 100%;
  min-height: 500px;

  background-image: url("../images/spray-bottle.jpg");
  background-color: rgb(33, 37, 41);
  background-size: cover;
  background-position: center;

  align-items: center;
}

/* MAIN-HERO--HEADING */
.hero-section h1 {
  width: 70%;
  max-width: 900px;
  padding: 10px 0;

  border-radius: 5px;

  color: whitesmoke;
  font-size: clamp(1.855rem, 5vw, 5rem);
  font-weight: 100;
  text-align: center;
  text-shadow: 2px 2px #212529;
}

.hero-subtext {
  display: block;

  margin: auto;
  /* max-width: 417px; */
  width: min(41vw, 417px);
  padding: 5px;

  background-color: #c5e1a5;
  border-radius: 5px;

  color: #212529;
  font-family: "DM Sans", sans-serif;
  text-shadow: none;
}

.maxikleen-slogan {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  display: block;
  font-size: clamp(0rem, 5vw, 1.5rem);
  font-weight: lighter;
  color: #212529;
  text-shadow: 2px 2px whitesmoke;
}

/* ==MEDIA QUERIES== */
@media (max-width: 992px) {
  nav,
  .navbar-links ul {
    flex-direction: column;
  }

  nav {
    align-items: flex-start;
  }

  .navbar-menu--btn {
    display: block;
  }

  .navbar-links {
    display: none;

    width: 100%;
  }

  .navbar-links ul {
    margin-top: 30px;
    width: 100%;
  }

  .navbar-items {
    text-align: center;
  }

  .menu-btn {
    display: flex;
  }

  .navbar-links.active {
    display: block;
  }
}
