/* ==RESET== */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  /* width: 100%; */
}

/* ==END OF RESET== */

/* ==GENERAL STYLES== */
body {
  min-height: 100vh;
  overflow-x: hidden;

  font-family: "Poppins", sans-serif;
}

/* ==END OF GENERAL STYLES== */

/* ==HEADER== */
